package {{ base_package }}.components;

import {{ base_package }}.base.BasePage;
import com.microsoft.playwright.Page;

public class {{ component_name }} extends BasePage {
    public {{ component_name }}(Page page) {
        super(page);
    }
}
